<div class="picture">
  <%= image_tag("picture.png", alt: "Alarm App") %>
</div>

<div class="container">
  <div class="bg_test">
    <div class="row">
      <aside class="col-md-3">
        <% if @user %>
          <h5>
            User:<%= @user %><br><br>
            <%= link_to logout_path, method: :delete do %>
              <i class="fas fa-sign-out-alt"></i>ユーザー登録を解除する
            <% end %>
          </h5>
        <% else %>
          <%= form_for(:session, url: login_path) do |f| %>
            <%= f.label :user %>
            <%= f.text_field :user %>

            <%= f.submit "ユーザーを登録する", class: "btn btn-success"%>
          <% end %>
        <% end %>
        <br>
        <label for="startTime">起床時刻 </label>
        <input type="time" id="alarmTime">
        <button class='js-create-alarm-btn'>アラームを登録する</button>
      </aside>
    </div>
  </div>
</div>

<div id="heatmap"></div>
<script>
  var startDate = new Date();
  startDate.setMonth(startDate.getMonth()-12);

  var parser = function(data) {
    return eval("(" + JSON.stringify(data) + ")");
  };

  var cal = new CalHeatMap();
  cal.init({
    itemSelector: "#heatmap",
    data: "/api/records",
    afterLoadData: parser,
    cellSize: 15,
    domain: "month",
    subDomain: "day",
    range: 13,
    tooltip: false,
    start: startDate,
    domainLabelFormat: "%b",
    legend: [1,2,3,4],
    weekStartOnMonday: false,
    legendVerticalPosition: "center",
    legendOrientation: "vertical"
  });
</script>