<% if @user %>
  User:<%= @user %>
  <%= link_to "ユーザー登録を解除する", logout_path, method: :delete %>
  
<% else %>
  <%= form_for(:session, url: login_path) do |f| %>

    <%= f.label :user %>
    <%= f.text_field :user %>

    <%= f.submit "ユーザーを登録する" %>
  <% end %>
<% end %>

<form>
  <label for="startTime">起床時刻: </label>
  <input type="time" id="alarmTime">
</form>
<button class='js-create-alarm-btn'>アラームを登録する</button>

<%= @problem %>
