<!DOCTYPE html>
<html>
  <head>
    <title>AlarmApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js" charset="utf-8"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/cal-heatmap/3.6.2/cal-heatmap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/cal-heatmap/3.6.2/cal-heatmap.css" />
  </head>

  <body>
    <header class="navbar navbar-fixed-top navbar-inverse">
      <div class="container">
        <h3>
          <ul class="nav navbar-nav">
            <li>
              <%= link_to root_path do %>
                <i class="fas fa-clock"></i>ACアラーム
              <% end %>
            </li>
            <li>
            <div class="userheader">


            <% if @user %>
            <h5>
              User:<%= @user %><br><br>
              <%= link_to logout_path, method: :delete do %>
                <i class="fas fa-sign-out-alt"></i>ユーザー登録を解除する
                </h5>
              <% end %>
        
          <% else %>
          <%= form_for(:session, url: login_path) do |f| %>
            <div class="form-inline">
    <div class="form-group">
    <h5>
            <label>User</label>
            <%= f.text_field :user, :class => "form-control edit-form" %>
            </div>
            </div>

            <%= button_tag :type => "submit" do %>
              <i class="fas fa-user-check"></i>ユーザーを登録する
            <% end %>
            </h5>
          <% end %>
          <% end %>
          </div>
            </li>
          </ul>
        </h3>
        <nav>
          <ul class="nav navbar-nav navbar-right">
            <li>
              <%= link_to todoes_path do %>
                <i class="fas fa-list"></i>Todoリスト一覧
              <% end %>  
            </li>
            <li>
              <%= link_to new_todo_path do %>
                <i class="fas fa-pen-alt"></i>Todoリスト作成
              <% end %>
            </li>
          </ul>
        </nav>
      </div>
    </header>
    <%= yield %>
  </body>
</html>