<!DOCTYPE html>
<html>
  <head>
    <title>AlarmApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="navbar navbar-fixed-top navbar-inverse">
      <div class="container">
        <%= link_to 'アラームアプリ', root_path, id: "logo" %>
        <nav>
          <ul class="nav navbar-nav navbar-right">
            <li>
              <%= link_to root_path do %>
                <i class="fas fa-clock"></i>目覚まし時計
              <% end %>
            </li>
            <li>
              <%= link_to todoes_path do %>
                <i class="fas fa-list"></i>Todoリスト一覧
              <% end %>  
            </li>
            <li>
              <%= link_to new_todo_path do %>
                <i class="fas fa-pen-alt"></i>Todoリスト作成
              <% end %>
            </li>
          </ul>
        </nav>
      </div>
    </header>
    <%= yield %>
  </body>
</html>
